// coupon
.selectionCoupon-bg-wrapper{
  @extend .selectionPlatform-bg-wrapper;
  background:url('../img/selection-coupon-bg.svg') no-repeat top center;
  background-size:cover;
  top:-300px;
  overflow: hidden;
  // padding-bottom:150px;
  margin-bottom:-410px;
  @include pad {
    background:url('../img/selection-coupon-pad-bg.svg') no-repeat top center;
    background-size: cover;
  }
  @include mobile{
    background:url('../img/selection-coupon-mob-bg.svg') no-repeat top center;
    background-size: cover;
  }
}
#selectionCoupon-description{
  margin-top:150px;
  @include mobile{
    margin-top:50px;
  }
}
#selectionCoupon-title{
  @extend #selectionDetail-title;
  height:auto;
}
#selectionCoupon-description-innerWrapper{
  display:flex;
  justify-content:space-between;
  // min-height:500px;
  @include pad {
    flex-direction: column;
  }
}
.coupon{
  // font-family: 'GenJyuuGothic';
  cursor:pointer;
  position: relative;
  @include size(512px,214px);

 
  padding-left:100px;
  padding-right:30px;
  margin:20px auto;
  @include mobile{
    @include size(360px,210px);
    padding-left: 70px;;
  }
  .coupon-btn{
    display: none;
    @include mobile{
      display: block;
      position: absolute;
      margin:auto;
      top: -20px;
      right: 0;
      left:0;
      text-align: center;
    }
  }
  &:hover{
    .icon-wrapper .icon .icon-more{
      opacity: 1;
      right:-100px;
      @include mobile{
        display: none;
      }
    }
  }
  h3{
    position: relative;
    display: block;
    margin-top:42px;
    @include mobile{
      font-size:18px;
      margin-top:60px;
    }
  }
  .detail{
    position: relative;
    @include size(260px,70px);
    margin:30px auto 0;
    line-height: 1.94;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    font-size:18px;
    @include mobile{
      font-size:16px;
      margin-top:15px;
    }
    .icon-wrapper{
      position: absolute;

      display:flex;
      flex-wrap:nowrap;
      align-items:flex-end;
      right: -150px;
      top: -60px;
      @include mobile{
        right: -50px;
        top: 0px;
      }
    }
    .icon{
      position: relative;
      @include size(150px,196px);
      img{width:100%}
      @include mobile{
        @include size(94px,123px);
      }

    }
    .icon-more{
      position: absolute;
      @include size(142px,112px);
      bottom:0;
      right:-150px;
      z-index: 50;
      transition: all 0.5s ease;
      opacity: 0;
      img{
        width:100%;
      }
    }
  }
}
#coupon1{
  background:url('../img/ticket-1.png') no-repeat center center;
  background-size:100%;
  z-index: 5;
  &:hover{
    background:url('../img/ticket-1-hover.png') no-repeat center center;
    background-size:100%;
  }
  &:active{
    background:url('../img/ticket-1-active.png') no-repeat center center;
    background-size:100%;
  }
}
#coupon2{
  background:url('../img/ticket-2.png') no-repeat center center;
  background-size:100%;
  &:hover{
    background:url('../img/ticket-2-hover.png') no-repeat center center;
    background-size:100%;
  }
  &:active{
    background:url('../img/ticket-2-active.png') no-repeat center center;
    background-size:100%;
  }
}

#selectionCoupon-description-bg{
  @include size(935px,316px);
  margin:auto;
  margin-top:150px;
  @include pad {
    margin-top:50px;
    width:768px;
    margin-bottom:150px;
  }
  @include mobile {
    width:640px;
    margin-bottom:50px;
  }
  img{width:100%}
}
.squirrel{
  @include size(75px,74px);
  background: url('../img/squirrel.svg') no-repeat center center;
  position: absolute;
  bottom:300px;
  left:10px;
}