// layout
footer{
  display:flex;
  justify-content:space-between;
  overflow:hidden;
  position: relative;
  z-index: 20;
  .selection1{
    background-color:#d70c18;
    color:#fff;
    text-align: center;
    padding:15px;
    width:80%;
  }
  .selection2{
    background-color:#acacac;
    width:20%;
    padding:15px;
  }
}
