nav.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d70c18;
  height: 60px;
  max-width: 100vw;
  @include pad {
    height: 50px;
    padding: 0 16px;
  }
  .header-wrapper {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pad {
      max-width: 100vw;
    }
    a.logo {
      display: flex;
      align-items: center;
      img {
        height:38px;
        @include pad {
        }
      }
      span{
        margin-left:20px;
        font-size: 20px;
        letter-spacing: 2.5px;
        color: #ffffff;
      }
    }
    .nav-links {
      display: flex;
      align-items: center;
      @include pad {
        transition: 0.3s;
        position: fixed;
        z-index: 999;
        top: 50px;
        right: 200vw;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
      }
      a {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.4px;
        color: #fff;
        margin: 0 12px;
        @include pad {
          font-size: 20px;
          margin: 15px 0;
        }
      }
    }
    #menu-toggle {
      display: none;
      &:checked {
        & ~ .nav-links {
          right: 0;
        }
        & + label {
          span {
            transition: 0.3s;
            &:nth-of-type(1) {
              top: 13px;
              transform: rotate(45deg);
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              top: 13px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    label {
      display: none;
      position: relative;
      @include pad {
        display: block;
        width: 30px;
        height: 30px;
        span {
          display: inline-block;
          width: 100%;
          height: 4px;
          position: absolute;
          background-color: #fff;
          left: 0;
          transition: 0.3s;
          &:nth-of-type(1) {
            top: 0;
          }
          &:nth-of-type(2) {
            top: 13px;
          }
          &:nth-of-type(3) {
            bottom: 0;
          }
        }
      }
    }
  }
}


