@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import "./reset";
@import "./breakpoints";
@import "./layout";
@import "./header";
@import "./banner";
@import "./selectionDetail";
@import "./selectionPlatform";
// layout
footer{
  display:flex;
  justify-content:space-between;
  overflow:hidden;
  .selection1{
    background-color:#d70c18;
    color:#fff;
    text-align: center;
    padding:15px;
    width:80%;
  }
  .selection2{
    background-color:#acacac;
    width:20%;
    padding:15px;
  }
}