
.banner-bg-wrapper
  .flag.flag-right
    img(src="./img/color-flag.png")
  .flag.flag-left
    img(src="./img/color-flag.png")
  .main-wrapper
    #banner
      .slogan-wrapper
        .slogan
          .music-left-icon.gelatine
            img(src="./img/music-left.svg")
          .music-right-icon.gelatine
            img(src="./img/music-right.svg")
          img(src="./img/slogan.png" alt="")
        .slogan2
          img(src="./img/slogan2.png" alt="")
      .concern-wrapper
        .conern-platform
          img(src="./img/concern-bg.svg" alt="")
        .conern-dancefan
          img(src="./img/banner-dancefan-bg.svg" alt="")
  //- .bg-tree
  //- .bg-hill

    