.dialog-bg
  .dialog-wrapper
    .main-wrapper
      #dialog-btn.dialog-btn
        img(src="img/dialog-close.svg")
      .dialog-content
        p 活動內容：
        br
        p 活動期間內刷台新信用卡於指定藝文通路單筆消費滿NT$1,000(含)贈100元刷卡金 ，
          span.text-underline 刷卡金限折抵2020/11/1~2021/1/31指定數位影音通路消費，未折抵刷卡金將歸零。
          | (限量登錄20,000份，正附卡合併計算，每歸戶正卡人ID上限刷卡金100元)
        p 指定藝文通路：
        .card-wrapper
          .card
            .th 電影院
            .tbody
              | 新光、威秀、國賓、秀泰、喜樂、美麗華、美麗新、喜滿客、in89、新月、親親、總督、中影屏東影城、台南真善美劇院、梅花數位、真善美劇院、哈拉影城、鴻金寶
          .card
            .th 藝文購票
            .tbody
              | 國家表演藝術中心國家兩廳院、寬宏藝術、拓元售票、牛耳購票、ｉＮＤＩＥＶＯＸ、ｕｄｎ售票網 、雲門舞集、國家表演藝術中心臺中國家歌劇、KKTIX華娛、年代售票
          .card
            .th 書店
            .tbody
              | 誠品、金石堂、墊腳石、三民書局、金玉堂、敦煌
        p 限折抵數位影音通路(透過電信公司、iTunes支付除外)：
        p Netflix、KKBOX(含KKBOX Prime、KKTV)、Spotify、Li TV、CATCHPLAY+、遠傳friDay音樂、Line TV、Line Music、愛奇藝。
        ul
          p 注意事項：
          li 1.   本活動適用對象為所有台新銀行信用卡(不含VISA金融卡)。
          li 2.  本活動限活動期間內於全臺指定電影院/書店/藝文購票刷台新信用卡單筆達指定金額，且交易日須於2020/7/22~2020/9/30。
          li 3.  指定電影院/書店/藝文購票共計34家：
            ul
              li (1). 電影院：新光、威秀、國賓、秀泰、喜樂、美麗華、美麗新、喜滿客、in89、新月、親親、總督、中影屏東影城、台南真善美劇院、梅花數位、真善美劇院、哈拉影城、鴻金寶
              li (2). 書店：誠品、金石堂、墊腳石、三民書局、金玉堂、敦煌
              li (3).藝文購票：國家表演藝術中心國家兩廳院、寬宏藝術、拓元售票、牛耳購票、ｉＮＤＩＥＶＯＸ、ｕｄｎ售票網 、雲門舞集、國家表演藝術中心臺中國家歌劇、KKTIX華娛、年代售票
          li 4.  限折抵數位影音通路(透過電信公司、iTunes支付除外)：Netflix、KKBOX(含KKBOX Prime、KKTV)、Spotify、Li TV、CATCHPLAY+、遠傳friDay音樂、Line TV、Line Music、愛奇藝。 
          li 5.  活動登錄:正卡持卡人須於2020/9/1(二)上午10點00分起至2020/9/30(三)凌晨23點59分於台新官網或台新卡得利(CARDaily)APP活動登錄區中『娛樂及影城』登錄或致電台新銀行客服登錄，活動期間僅須登錄一次；本活動限量登錄20,000名，額滿關閉活動登錄功能。將依登錄有效資格且符合活動門檻之登錄先後順序作為回饋依據，逾期恕不接受補登。
          li 6.   本活動每歸戶正卡人ID上限刷卡金100元，正、附卡合併計算，統一回饋予正卡持卡人，刷卡金限折抵2020/11/1~2021/1/31指定數位影音通路消費，未折抵刷卡金將歸零。 
          li 7.   倘持卡人發生因簽帳爭議而暫停付款或因其他原因致須退還消費款項或所持信用卡有停卡、掛失不補發、不續卡、遲繳、欠款或違反台新銀行信用卡會員約定條款及其他信用貶落之情事者，即喪失參加本活動資格，無法享有回饋。
          li 8.   持卡人若因任何理由取消刷卡交易或因簽單爭議致消費金額未達本活動門檻，或持卡人以違反誠信之方式取得本活動回饋者，台新銀行得取消回饋資格，不另行通知。 
          li 9.   本活動詳細內容，請參閱網站(www.taishinbank.com.tw)公告，其他未盡事宜，悉依台新銀行信用卡會員約定條款辦理。台新銀行保留隨時變更活動及審核持卡人參加活動資格之權利。
