.footer-bg
  .red-tree
    img(src="./img/red-tree.svg")
  .orange-tree
    img(src="./img/orange-tree.svg")
  .red-tree
    img(src="./img/red-tree.svg")
  .orange-tree
    img(src="./img/orange-tree.svg")
  footer

    .selection1
      p ©️ 台新國際商業銀行
        span  Copyright Taishin International Bank. All Rights Reserved
    .selection2
      .logo
        img(src="./img/footerLogo.svg")
      //- span 台新金控