doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE11")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title 台新銀行-Fun膽藝起玩
  link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
  meta(property='og:type', content='website')
  meta(property='og:locale', content='zh_TW')
  meta(property='og:title', content='台新銀行-Fun膽藝起玩')
  meta(property='og:description', content='藝文享受一級棒！跟著台新一起玩，指定藝文通路可享滿額10%回饋！看電影、演唱會、藝文表演、買書刷台新，多項藝文活動回饋享不盡。您還在等什麼？ 快來加入台新銀行Fun膽藝起玩')
  meta(property='og:image', content='./img/fb.jpg')
  meta(name="keyword" content="台新挺藝文、Fun膽一起玩、振興三倍券、新光影城、威秀影城、國賓影城、Netflix、KKBOX、KKTV、Spotify、Li TV、CATCHPLAY+、遠傳friDay音樂、Line TV、Line Music、愛奇藝、Ｖisa卡")
  // google font
  //- link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap', rel='stylesheet')
  link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")
  // style
  link(rel='stylesheet', href='./css/all.css')
// 導覽列
body
  nav.header
    .header-wrapper
      input#menu-toggle(type='checkbox' onclick='handleClick(this);')
      label(for='menu-toggle')
        span
        span
        span
      a.logo(href='index.html')
        img(src='./img/nav-logo.png', alt='台北富邦銀行')
        span FUN膽藝起玩

      .nav-links
        a(href='#' data-selection="selectionDetail") 活動辦法
        a(href='#' data-selection="selectionPlatform") 影音FUN肆看
        a(href='#' data-selection="selectionCoupon") 回饋FUN心拿
  // 下方區域
  section.main
      include ./banner.pug
      include ./selectionDetail.pug
      include ./selectionPlatform.pug
      include ./selectionCoupon.pug
      include ./dialog.pug

  include ./footer.pug
 

// js
script(src='./js/lib/jquery.min.js')
script(src='./js/lib/gsap.min.js')
script(src='./js/index.js')