.selectionDetail-bg-wrapper
  .main-wrapper
    #selectionDetail
      #selectionDetail-title
        img(src="./img/selection-detail-title.svg")
      #selectionDetail-description
        #selectionDetail-description-innerWrapper
          h1 看電影、演唱會、藝文表演、買書，刷台新回饋享不盡
          .data 
            p 活動日期：109/7/22~109/9/30
          p 活動說明：刷台新信用卡於指定藝文通路單筆消費滿NT$1,000(含)贈100元刷卡金 （刷卡金限折抵指定數位影音通路消費）。
          .btn1 活動詳情
          .btn2 活動登錄 >>
        #selectionDetail-stamp
          img(src="./img/selection-detail-stamp.svg")
        #selectionDetail-description-bg
          //- img(src="./img/selection-detail-description-bg.svg")
  .red-tree
    img(src="./img/red-tree.svg")
  .orange-tree
    img(src="./img/orange-tree.svg")
      