.selectionPlatform-bg-wrapper
  .main-wrapper
    .bird
    #selectionPlatform
      #selectionPlatform-title
        .title
          img(src="./img/selection-platform-title.svg")
      #selectionPlatform-description
        #selectionPlatform-description-innerWrapper
          #role1.role
            .role-card
              .role-detail-front
                //- h3 數位影音通路刷卡金哪裡用
                //- .role-detial
                //-   p
                //-     span.quate “
                //-     span.title Netflix、KKBOX(含KKBOX Prime、KKTV) Spotify、Li TV
                //-     span.title CATCHPLAY+、遠傳friDay音樂 Line TV、Line Music、愛奇藝。
                //-     span.quate “
              .role-detial-bg 
            .role-bg
          #role2.role
            .role-card
              .role-detail-front
                //- h3 KKTV
                //- .role-detial
                //-   p
                //-     span.quate “
                //-     span.title 只要刷台新VISA卡，KKTV
                //-     span.title KKTV) 首
                //-       b 3
                //-       | 個月每月只要
                //-       b 9   
                //-       | 元！
                //-     span.quate “
                a.role-link(href="https://mkp-tsbank.cdn.hinet.net/tscccms/promotion/detail/WM_20200623090422153" target="_blank") 
              .role-detial-bg 
            .role-bg
          #role3.role
            .role-card
              .role-detail-front
                //- h3 KKTV
                //- .role-detial
                //-   p
                //-     span.quate “
                //-     span.title 只要刷台新VISA卡，KKTV
                //-       br
                //-     span.title KKTV) 首
                //-       b 3
                //-       | 個月每月只要
                //-       b 9   
                //-       | 元！
                //-     span.quate “
                a.role-link(href="https://taishin.tw/cardevent/?utm_source=taishinweb&utm_medium=click&utm_campaign=2020_promo" target="_blank")
              .role-detial-bg 
            .role-bg
        .selectionPlatform-stamp
          img(src="./img/selection-platform-stamp.svg")
  .red-tree
    img(src="./img/red-tree.svg")
  .orange-tree
    img(src="./img/orange-tree.svg")
      