.selectionCoupon-bg-wrapper
  .main-wrapper
    .squirrel
    #selectionCoupon
      #selectionCoupon-title
        .title
          img(src="./img/selection-coupon-title.svg")
      #selectionCoupon-description
        #selectionCoupon-description-innerWrapper

          a#coupon1.coupon(href="https://mkp-tsbank.cdn.hinet.net/TsCms/marketing/expose/WM_20200617141221172/index.html")
            .coupon-btn
              img(src="./img/coupon-mob-btn.svg", alt="")
            h3 台新三倍券回饋
            .detail
              p 「振興三倍券」綁定台新卡 放大優惠 回饋滿手拿
              .icon-wrapper
                .icon
                  img(src="./img/coupon-icon-1.svg")
                  .icon-more
                    img(src="./img/coupon-icon-more.svg")
          a#coupon2.coupon(href="https://mkp-tsbank.cdn.hinet.net/TsCms/marketing/expose/WM_20200114105209297/index.html")
            .coupon-btn
              img(src="./img/coupon-mob-btn.svg", alt="")     
            h3 三大影城 天天折
            .detail
              p 新光影城、威秀影城，國賓影城週一～週五最低
                b 68
                | 折起
              .icon-wrapper
                .icon
                  img(src="./img/coupon-icon-2.svg")
                  .icon-more
                    img(src="./img/coupon-icon-more.svg")

        #selectionCoupon-description-bg
          img(src="./img/coupon-people.svg")
  .red-tree
    img(src="./img/red-tree.svg")
  //- .orange-tree
  //-   img(src="./img/orange-tree.svg")
      